

.coin {
    // font-size: $font-size-small;
    display: flex;
    align-self: center;
    width: 3.2rem;
    height: 3.2rem;
    // background-color: $color-white;
    // border: 1px solid gold;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    & svg {
        fill: $color-white;
    }
    
    &--reward {
        width: 2.5rem;
        height: 2.5rem;
        color: $color-green-light;
        background-color: $color-white;
        margin-right: 2rem;
    }
}

.importance {
    font-size: font-size-small;
    display: flex;
    align-self: center;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2rem;
    color: $color-white;
    border: 1px solid $color-white;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
}