//Colors

$color-blue-dark:#2980b9;
$color-blue-light:#3498db;

$color-green-dark:#1daa58;
$color-green-light:#27ae60;

$color-white: #ecf0f1;

$color-yellow: #ecf0f1;
$color-orange:  #bdc3c7;


$font-size-small: 1rem;
$font-size-medium: 1.4rem;
$font-size-normal: 1.6rem;
$font-size-large: 3.2rem;