*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    background: linear-gradient(90deg, $color-orange 35%, $color-yellow 100%);
}
