//Colors

$color-blue-dark:#05558A;
$color-blue-light:#226B9A;

$color-green-dark:#13713B;
$color-green-light:#0A853D;

$color-white: #ecf0f1;

$color-yellow: #ecf0f1;
$color-orange:  #bdc3c7;


$font-size-small: 1rem;
$font-size-medium: 1.4rem;
$font-size-normal: 1.6rem;
$font-size-large: 3.2rem;